apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus-blackbox-exporter
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io # cascade deletion on this App deletion
spec:
  project: cluster-wide-apps
  source:
    chart: prometheus-blackbox-exporter
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 7.10.0
    helm:
      releaseName: prometheus-blackbox-exporter
      # https://github.com/prometheus-community/helm-charts/blob/main/charts/prometheus-blackbox-exporter/values.yaml
      values: |
        config:
          modules:
            http_2xx:
              prober: http
            http_2xx_insecure:
              prober: http
              http:
                tls_config:
                  insecure_skip_verify: true
            http_post_2xx:
              prober: http
              http:
                method: POST
            tcp_connect:
              prober: tcp
            pop3s_banner:
              prober: tcp
              tcp:
                query_response:
                - expect: "^+OK"
                tls: true
                tls_config:
                  insecure_skip_verify: false
            grpc:
              prober: grpc
              grpc:
                tls: true
                preferred_ip_protocol: "ip4"
            grpc_plain:
              prober: grpc
              grpc:
                tls: false
                service: "service1"
            ssh_banner:
              prober: tcp
              tcp:
                query_response:
                - expect: "^SSH-2.0-"
                - send: "SSH-2.0-blackbox-ssh-check"
            irc_banner:
              prober: tcp
              tcp:
                query_response:
                - send: "NICK prober"
                - send: "USER prober prober prober :prober"
                - expect: "PING :([^ ]+)"
                  send: "PONG ${1}"
                - expect: "^:[^ ]+ 001"
            dns:
              prober: dns
            icmp:
              prober: icmp
              icmp:
                source_ip_address: 127.0.0.1
            icmp_v4:
              prober: icmp
              icmp:
                preferred_ip_protocol: ip4
                source_ip_address: 127.0.0.1
            icmp_v6:
              prober: icmp
              icmp:
                preferred_ip_protocol: ip6
                source_ip_address: 127.0.0.1
            icmp_jumbo:
              prober: icmp
              icmp:
                dont_fragment: true
                payload_size: 8972
                source_ip_address: 127.0.0.1
            icmp_ttl5:
              prober: icmp
              timeout: 5s
              icmp:
                ttl: 5
                source_ip_address: 127.0.0.1
        serviceMonitor:
          enabled: true
          defaults:
            labels:
              release: prometheus
            interval: 5s
            scrapeTimeout: 5s
          targets:
            - name: dns.google
              url: dns.google
              module: icmp_v4
            - name: uncahama-tst-prox01-service
              url: 172.16.0.111
              module: icmp_v4
            - name: uncahama-tst-prox03-service
              url: 172.16.0.113
              module: icmp_v4
            - name: uncahama-tst-prox04-service
              url: 172.16.0.114
              module: icmp_v4
            - name: uncahama-tst-prox01-storage
              url: 172.16.16.111
              module: icmp_v4
            - name: uncahama-tst-prox03-storage
              url: 172.16.16.113
              module: icmp_v4
            - name: uncahama-tst-prox04-storage
              url: 172.16.16.114
              module: icmp_v4
            - name: uncahama-tst-prox01-service-web-panel
              url: https://172.16.0.111:8006
              module: http_2xx_insecure
            - name: uncahama-tst-prox03-service-web-panel
              url: https://172.16.0.113:8006
              module: http_2xx_insecure
            - name: uncahama-tst-prox04-service-web-panel
              url: https://172.16.0.114:8006
              module: http_2xx_insecure
            - name: uncahama-tst-prox01-storage-web-panel
              url: https://172.16.16.111:8006
              module: http_2xx_insecure
            - name: uncahama-tst-prox03-storage-web-panel
              url: https://172.16.16.113:8006
              module: http_2xx_insecure
            - name: uncahama-tst-prox04-storage-web-panel
              url: https://172.16.16.114:8006
              module: http_2xx_insecure
            - name: mc-play-debug-seichi-click
              url: play-debug.seichi.click:25565
              module: tcp_connect
            - name: mc-play-seichi-click
              url: play.seichi.click:25565
              module: tcp_connect
            - name: h1-map-spring-seichi-click
              url: https://h1.map.spring.seichi.click
              module: http_2xx
            - name: ranking-gigantic-seichi-click
              url: https://ranking-gigantic.seichi.click
              module: http_2xx
            - name: redmine-seichi-click
              url: https://redmine.seichi.click
              module: http_2xx
            - name: s1-map-gigantic-seichi-click
              url: https://s1.map.gigantic.seichi.click
              module: http_2xx
            - name: s2-map-gigantic-seichi-click
              url: https://s2.map.gigantic.seichi.click
              module: http_2xx
            - name: s3-map-gigantic-seichi-click
              url: https://s3.map.gigantic.seichi.click
              module: http_2xx
            - name: s5-map-gigantic-seichi-click
              url: https://s5.map.gigantic.seichi.click
              module: http_2xx
            - name: s7-map-gigantic-seichi-click
              url: https://s7.map.gigantic.seichi.click
              module: http_2xx
            - name: www-seichi-network
              url: https://www.seichi.network
              module: http_2xx
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
    syncOptions:
    - CreateNamespace=true
